
 <tr>
 
       <td class="cart_line"><div class="cart_product" align="left">
    <%= truncate(variant.product.name, :length => 50, :omission => "...") %></div>

  <div class="cart_price" >
    <%= number_to_currency line_item.price %></div>
</td>
  <td data-hook="cart_item_quantity">
    <%= item_form.hidden_field :quantity, :min => 0, :class => "line_item_quantity", :size => 5 %>
  </td>
  </tr>
  <tr>

  <td class="cart_line2"><div class="cart_total">Sub Total	</div>				<div class="cart_price"> <%= number_to_currency line_item.price %></div></td>

</tr>
