<fieldset id="order_details" data-hook>
  <div class="clear"></div>
  <legend><%= t(@order.state, :scope => :order_state).titleize %></legend>
  <%= render :partial => 'spree/shared/order_details', :locals => { :order => @order } %>
</fieldset>

<br />

<div class="form-buttons" data-hook="buttons">
<input type="submit" name="Submit" value="" style="background:url(../assets/place.jpg) repeat-x; border:0; border-width:0; cursor:pointer; width:121px; height:35px;" />

</div>
