
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>

<div id="registration" data-hook>
  <div id="account" class="columns alpha eight">
    <!-- TODO: add partial with registration form -->
  </div>
  <% if Spree::Config[:allow_guest_checkout] %>
  <center>
  <div style="width:100%; background: url(assets/lightbox_bg.jpg); border-radius: 10px 10px 10px 10px;margin-bottom: 15px;">
   <div class="lightbox_title1">Checkout as a Guest </div>
      <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>

      <%= form_for @order, :url => update_checkout_registration_path, :method => :put, :html => { :id => 'checkout_form_registration' } do |f| %>
   <table width="80%" border="0" cellspacing="0" cellpadding="5" style="float:left;padding-left: 10px;">
  <tr>
    <td align="left" valign="middle" ><span>Email</span><br/>
     <label>
     	  <%= f.email_field :email, :class => 'list5'   %></td>
  		<td>We will send your purchase receipt to this email. <a href="http://causera.org/privacy-policy">View our privacy policy</a> 
    </label></td>
  </tr>

            <tr>
  
    <td align="left" valign="top" colspan="3"><label>
      <input type="submit" name="Submit" value="" style="background:url(../assets/continue.jpg) repeat-x; border:0; border-width:0; cursor:pointer; width:121px; height:35px;" />
&nbsp;    </label></td>
    </tr>
  
</table>

      <% end %>
   
   
  <% end %>
</div>
</div>