
  <% @body_id = 'product-details' %>
<%= stylesheet_link_tag 'style'%>



 <div class="lightbox_title">Your Cart</div>
 <div style="padding:20px; border-top:1px solid #fff">
 	
<%= render :partial => 'cart_form' %></div>


     

  

