<head>
	<%= stylesheet_link_tag 'scree' %>
</head>
<div id="box_wrap">
    <div id="box1">Our goal is <span class="orange">$150,000
	</span>
      <div id="progress"></div><label id="amount">0%</label>
	</div>
	
	
	<div id="box2"><div style="padding:5px 0 5px 20px">Our supporters...</div>
	<div id="white_box"><div class="white_smallbox"><strong>George and Julie</strong> <br />
	  <span class="smalltext">22 minutes ago</span></div>
	<div class="white_smallbox"><strong>George and Julie</strong> <br />
	  <span class="smalltext">22 minutes ago</span></div>
	<div class="white_smallbox"><strong>George and Julie</strong> <br />
	  <span class="smalltext">22 minutes ago</span></div>
	<div class="white_smallbox"><strong>George and Julie</strong> <br />
	  <span class="smalltext">22 minutes ago</span></div>
	<div class="white_smallbox_last"><strong>George and Julie</strong> <br />
	  <span class="smalltext">22 minutes ago</span></div>
	</div>
	</div>
		
	</div>
	<div id="leftside">
	  <div class="leftbox1">
	   <div class="heading">About this Fundraiser</div>
	    <div class="whitebg"><strong>Nulla porta, risus vitae vestibulum lacinia, massa ipsum vehicula ante, et rhoncus neque turpis ac nisi. Pellentesque ultricies vestibulum lacus. 
          </p>
	    </strong>
	    <p>Phasellus quis ipsum magna. Phasellus fringilla metus at nibh eleifend in tempus dui ultricies. Cras sit amet dapibus nibh. Nulla vitae lacus cursus velit tempus egestas. Mauris nec lorem facilisis risus semper facilisis. </p>
	   Cras sagittis magna sed diam aliquam quis ultrices sapien eleifend. Mauris scelerisque magna vitae felis ultricies pulvinar convallis eros lobortis. Morbi sagittis vestibulum eros, non congue nunc lobortis eget. Vestibulum sit amet libero nec justo vehicula feugiat. Cras hendrerit elementum mi id interdum. Maecenas tincidunt gravida tincidunt. Vestibulum mi velit, gravida sollicitudin dapibus vitae, consectetur a lorem. Sed justo tellus, tempus sed euismod vitae, pellentesque id ipsum. Curabitur </div>
	  </div>
	  <div class="leftbox1">
	   <div class="heading">About this Fundraiser</div>
      <a href="#"><img src="assets/video.jpg" alt="" width="242" height="112" border="0" /></a></div>
	
	</div>

