

<div id="footer">
	
	<div style="width:50%; float:left; text-align:left; margin:20px 0 20px 0"><a href="#" class="b_menu">About us</a>     |     <a href="#" class="b_menu">Contact Us</a>     |     <a href="#" class="b_menu">Privacy Policy</a>     |     <a href="#" class="b_menu">Terms & Conditions</a>     |     <a href="#" class="b_menu">FAQ Blog</a></div>
	
	
	<div style="width:30%; float:right; text-align:right; margin:20px 0 20px 0">&copy; 2012 Causera. All rights reserved.</div>
	
</div>