
<div align="center" id="maindiv">
<div id="header1">
	  <div id="header_wrap">
	  <div id="logo"><a href="#"><img src="/assets/logo.jpg" alt="" border="0" /></a></div>
	  <div id="slogan">Annual Alumni Campaign</div>
	  <div id="sn">
	  	  <div id="share">Help us! Share this with friends</div>
	  <a href="#"><img src="/assets/facebook.jpg" alt="Facebook" title="Facebook" border="0" /></a> <a href="#"><img src="/assets/twitter.jpg" alt="Twitter" title="Twitter" border="0" style="margin-left:10px"/></a></div>
	  	  </div>
	</div>
</div>