<head>
	<%= stylesheet_link_tag 'scree' %>
</head>
<div id="wrap">
	
	<div id="alert">
	<div id="alert_image"><img src="assets/alert.png" alt="" /></div>
	<div>Only <span class="orange">4 days</span> left to place your order!<br />
    <span class="smalltext">All orders must be placed by on 9/17/2012</span></div>
	</div>
	

  </div>
  